

@media screen and (max-width:576px){
    .nav-bar,
    .nav-contant > ul{
        flex-direction: column;
    }
    .nav-btn{
        margin-top: 10px;
    }

    
    .header-main{
        flex-direction: column-reverse;
        margin-top: 20px;
    }

    .header-left, .header-right{
        width: 90%;
    }
    .btn-parents{
        display: flex;
        /* justify-content: center;
        align-items: center; */
    }
    .header-btn-1, .header-btn-2{
        padding: 10px 20px;
    }
    .header-left >p{
        font-size: 1rem;
        font-weight: 500;
    }
    .play{
        font-size: 2rem;
        margin-top: 20px; 
    }
    .goat{
        font-size: 3rem;
    }

    /* Gamer-section-responsive */
    .Gamer-section{
        flex-direction: column;
        margin-top: 50px;
    }
    .gamer-right, .gamer-let{
        width: 100%;
    }

    .gamer-let img{
        width: 100%;
    }
    .gamer-right{
        border: 1px solid red;
        text-align: center;
    }
    .gamer-h1{
        font-size: 2rem;
        margin: auto;
    }
    .gamer-p1, .gamer-p2, .gamer-btn{
        margin-bottom: 20px;
    }
}