
/* google-font-add */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

html{
    scroll-behavior: smooth;
}
.container{
    padding: 10px 10%;
}

/* nav-bar-style */
.nav-container{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}



.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
    max-width: 1200px;
    margin: 0 auto;
}
.nav-contant > ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
.nav-contant > ul > li a{
    text-decoration: none;
    margin-left: 20px;
    font-size: 1.2rem;
    color: rgb(60, 53, 79);
    font-weight: 500;
}
.nav-btn{
    border: none;
    background-color:rgba(11, 2, 35, 0.1) ;
    padding: 10px 30px;
    border-radius: 8px;
    margin-left: 20px;
    font-size: 1rem;
    font-weight: 500;
}
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo img{
    width: 80px;
}
.nav-logo > h1{
    font-size: 3rem;
    font-weight: 700;
    color: rgb(11, 2, 35);
    margin-left: 10px;
}


/* header-star-here */
.header-container{
    background-image: url(images/Group\ 14.png);
}





.header-main{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.header-left{
    width: 50%;
}
.header-left >p{
    font-size: 1.25rem;
    font-weight: 500;
    color: rgb(83, 76, 100);
}
.header-right{
    width: 50%;
}
.header-right img{
    width: 100%;
}
.play{
    font-size: 3rem;
    font-weight: 600;
    color: rgb(11, 2, 35);
}
.goat{
    font-size: 5rem;
    font-weight: 800;
    background-image: linear-gradient(#F948B2,#8758F1);
    background-clip: text;
    color: transparent;
}

.header-btn-1,.header-btn-2{
    padding: 15px 40px;
    font-size: 1rem;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
}
.header-btn-1{
    background-color:rgb(255, 66, 165);
    margin-right: 20px;
}
.header-btn-2{
    background-color:rgb(78, 197, 247) ;
}